:root {
	--ff-big-shoulders-display: 'Big Shoulders Display';
	--ff-outfit: 'Outfit';
	--fw-light: 300;
	--fw-black: 900;

	--fs-heading-xl: 3.75rem;
	--lh-heading-xl: 55px;

	--fs-heading-l: 50px;
	--lh-heading-l: 45px;

	--fs-base: 18px;
	--lh-base: 28px;

	--fs-small: 16px;
	--lh-small: 26px;

	--color-white: #ffffff;
	--color-dark-gray: #444444;
	--color-almost-black: #151515;
	--color-gold: #d5966c;

	@media (min-width: 768px) {
		--fs-heading-xl: 4.375rem;
		--lh-heading-xl: 65px;
	}

	@media (min-width: 1440px) {
		--fs-heading-xl: 6rem;
		--lh-heading-xl: 88px;
		--fs-base: 22px;
		--lh-base: 32px;
		--fs-heading-l: 60px;
		--lh-heading-l: 60px;
	}
}
